/* section navbar */
.title{
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* <!-- slider start --> */
.image-height{
    height: 600px;
}
/* package section  */
.li-style{
    list-style: none;
    text-align: left;
    
}

  .package-highlighted {
    background-color: #1B98F5;
    border: 7px solid #1B98F5;
    border-radius: 20px;
    box-shadow: 0px 1px 20px #bfb3b3;
  }
.badge-exter {
    
    width: 50px;
    position: absolute;
    top: 15;
    right: 7px;
    height: 26px;
  } 
  /* package section  */
  #extra{
    color: #1B98F5;
    
  }
  /* footer section */
  
  footer{
    background-color: #464646;
  }