.title{
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* <!-- slider start --> */
.image-height{
    height: 500px;
}
/* package section  */
.li-style{
    list-style: none;
    text-align: left;
    
}
.package-highlighted {
    background-color: #2827CC;
    border: 1px solid #2827CC;
    border-radius: 20px;
    box-shadow: 0px 0px 16px #8a8686;
    top: -26px;
  }
.badge-exter {
    
    width: 43px;
    position: absolute;
    top: 0;
    right: 7px;
    height: 26px;
  } 
  /* package section  */
  #extra{
    color: #2827CC;
  }
  /* footer section */
  .images-w{
      width: 200px;

  }